{% extends 'layout.html' %}
{% block content %}
	<h3>Bidding History</h3>
	<hr/>
	<table class="table">
		<thead>
			<tr>
				<th>Person</th>
				<th>Horse</th>
				<th>Amount</th>
				<th>Bid Placed</th>
			</tr>
		</thead>
		<tbody>
		{% for bet in bets %}
			<tr>
				<th><a href="{{ url_for('person', id=bet.person) }}">{{ bet.placed_by }}</a></th>
				<th><a href="{{ url_for('horse', id=bet.horse) }}">{{ bet.placed_on }}</a></th>
				<th>${{ bet.amount }}</th>
				<th>{{ bet.created_in_words }} ago</th>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}