{% extends 'layout.html' %}
{% block content %}
	<h3>Current Bets</h3>
	<hr/>
	<table class="table">
		<thead>
			<tr>
				<th>Horse</th>
				<th>Bettor</th>
				<th>Amount</th>
				<th>Bet Placed</th>
			</tr>
		</thead>
		<tbody>
		{% for bet in bets %}
			<tr>
				<th><a href="{{ url_for('horse', id=bet.h_id) }}">{{ bet.horse }} ({{ bet.hsn }})</a></th>
				<th><a href="{{ url_for('person', id=bet.p_id) }}">{{ bet.person }}</a></th>
				<th>${{ bet.amount }}</th>
				<th>{{ bet.ago }}</th>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}