<!DOCTYPE html>
<html>
<head>
	<title>Derby Party</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Derby Party</h1>
		</div>
		<header>
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
						<li><a href="{{ url_for('index') }}">Current Bets</a></li>
						<li><a href="{{ url_for('horses') }}">Horses</a></li>
						<li><a href="{{ url_for('people') }}">Gamblers</a></li>
					</ul>
				</div>
			</div>
		</header>
		{% block content %}
		
		{% endblock %}
		
		<div class="modal-footer">
			<h4>&copy; kirkg.us</h4>
		</div>
	</div>
</body>
</html>