<!DOCTYPE html>
<html>
<head>
	<title>Derby Party</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
	<script type="text/javascript" src="{{ url_for('static', filename='js/refresh.js') }}"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head> 
<body>
	<div class="container">
		<header>
			<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
			        <div class="container">
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
			                    <span class="sr-only">Toggle navigation</span>
			                    <span class="icon-bar"></span>
			                    <span class="icon-bar"></span>
			                    <span class="icon-bar"></span>
			                </button>
			                <a class="navbar-brand" href="{{ url_for('index') }}">Current Bids</a>
			            </div>
			            <!-- Collect the nav links, forms, and other content for toggling -->
			            <div class="collapse navbar-collapse" id="navbarCollapse">
			                <ul class="nav navbar-nav">
			                    <li><a href="{{ url_for('horses') }}">Horses</a></li>
			                    <li><a href="{{ url_for('people') }}">Gamblers</a></li>
								<li><a href="{{ url_for('bets') }}">All Bids</a></li>
								<li class="divider-vertical"></li>
			                    <li><a href="{{ url_for('help') }}">Help</a></li>
			                </ul>
			            </div>
			        </div>
			 	</nav>
			</header>
		<div class="container">
		      <div class="blog-header">
		        <h1 class="blog-title">Derby Party!!</h1>
		        <p class="lead blog-description">Place a bid by finding your <a href="{{ url_for('horses') }}">horse's shortname</a> and texting 'bid shortname amount' to 812-558-5422</p>
		      </div>
		  </div>
		{% block content %}
		
		{% endblock %}
		
		<div class="modal-footer">
			<h4>&copy; kirkg.us</h4>
		</div>
	</div>
</body>
</html>