<!DOCTYPE html>
<html>
<head>
	<title>Derby Party</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
</head>
<body>
	<div class="container">
		<header>
		    <div class="navbar navbar-inverse navbar-static-top">
				<div class="navbar-inner">
					<div class="container">
		               		<ul class="nav">
								<li><a href="{{ url_for('index') }}">Current Bets</a></li>
								<li><a href="{{ url_for('horse') }}">Horses</a></li>
								<li><a href="{{ url_for('person') }}">Gamblers</a></li>
		               	 	</ul>
		           	</div>
		         </div>
		      </div>
		</header>
		<div class="container">
		      <div class="blog-header">
		        <h1 class="blog-title">Derby Party!!</h1>
		        <p class="lead blog-description">Place a bet by texting your <a href="{{ url_for('horse') }}">horses shortname</a> to XXX-XXX-XXXX</p>
		      </div>
		  </div>
		{% block content %}
		
		{% endblock %}
		
		<div class="modal-footer">
			<h4>&copy; kirkg.us</h4>
		</div>
	</div>
</body>
</html>